<div id="chat">
    <div id="channel-list">
        <h2>Channels</h2>
        <ul>
            <li *ngFor="let channel of channels">
                <a (click)="setCurrentChannel(channel.uuid)">{{ channel.name }}</a>
            </li>
        </ul>
    </div>
    <div id="user-list">
        <h2>Users</h2>
        <ul>
            <li *ngFor="let user of users" [ngClass]="{currentUser: user.uuid == userService.currentUser.uuid}">
                <a href="#">{{ user.nickname }}</a>
            </li>
        </ul>
    </div>
    <div id="messages">
        <ul>
            <li *ngFor="let message of currentMessages">
                <span class="date">{{ message.createdAt | date:'shortTime' }}</span>
                <span class="nickname">{{ message.senderUuid | messageUSer:users }}</span>
                <span [innerHtml]="message.content | safeHtml"></span>
            </li>
        </ul>
        <form class="form"
              (ngSubmit)="onSendMessage()"
              [formGroup]="messageForm">
            <div class="form-group">
                <input class="form-control"
                       type="text"
                       id="message-input"
                       formControlName="message"
                       placeholder="Send a message to"
                       autocomplete="off">
            </div>
            <button class="btn btn-success">Send</button>
        </form>
    </div>
</div>
