<div id="chat">
    <div id="channel-list">
        <h2>Channels</h2>
        <ul class="buttonList">
            <li *ngFor="let channel of channels"
                [ngClass]="{
                    currentChannel: !inPrivateChat && channel.uuid == currentChannel,
                    hasUnread: hasUnread(channel.uuid)
                }">
                <button class="button" (click)="setCurrentChannel(channel.uuid)">{{ channel.name }}</button>
            </li>
        </ul>
    </div>
    <div id="user-list">
        <h2>Users</h2>
        <ul class="buttonList">
            <li *ngFor="let user of users"
                [ngClass]="{
                    currentChannel: user.uuid == currentChannel,
                    hasUnread: hasUnread(user.uuid)
                }">
                <button class="button"
                        (click)="setCurrentChannel(user.uuid)"
                        [disabled]="user.uuid == userService.currentUser.uuid">
                    {{ user.nickname }}
                    <span *ngIf="user.uuid == userService.currentUser.uuid">(you)</span>
                </button>
            </li>
        </ul>
    </div>
    <div id="messages">
        <ul>
            <li *ngFor="let message of currentMessages">
                <span class="date">{{ message.createdAt | date:'shortTime' }}</span>
                <span class="nickname">{{ message.senderUuid | messageUSer:users }}</span>
                <span [innerHtml]="message.content | safeHtml"></span>
            </li>
        </ul>
        <form class="form"
              (ngSubmit)="onSendMessage()"
              [formGroup]="messageForm">
            <div class="form-group">
                <input class="form-control"
                       type="text"
                       id="message-input"
                       formControlName="message"
                       placeholder="Send a message to {{ currentChannel | channelName:channels:users }}"
                       autocomplete="off">
            </div>
            <button class="btn btn-success">Send</button>
        </form>
    </div>
</div>
